<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>JGI Buzzer</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/fontawesome-all.min.css')}}">
    <script src="{{url_for('static', filename='js/scoring.js')}}"></script>
    <link rel="icon" href="{{url_for('static', filename='img/icon.png') }}">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fab fa-google"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Just Google It</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <div class="text-center d-none d-md-inline"></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <div class="input-group-append"></div>
                            </div>
                        </form>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in" role="menu">
                                        <h6 class="dropdown-header">alerts center</h6>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 12, 2019</span>
                                                <p>A new monthly report is ready to download!</p>
                                            </div>
                                        </a>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 7, 2019</span>
                                                <p>$290.29 has been deposited into your account!</p>
                                            </div>
                                        </a>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 2, 2019</span>
                                                <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                                            </div>
                                        </a><a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a></div>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in" role="menu">
                                        <h6 class="dropdown-header">alerts center</h6>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="assets/img/avatars/avatar4.jpeg">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate"><span>Hi there! I am wondering if you can help me with a problem I've been having.</span></div>
                                                <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                                            </div>
                                        </a>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="assets/img/avatars/avatar2.jpeg">
                                                <div class="status-indicator"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate"><span>I have the photos that you ordered last month!</span></div>
                                                <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                                            </div>
                                        </a>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="assets/img/avatars/avatar3.jpeg">
                                                <div class="bg-warning status-indicator"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate"><span>Last month's report looks great, I am very happy with the progress so far, keep up the good work!</span></div>
                                                <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                                            </div>
                                        </a>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="assets/img/avatars/avatar5.jpeg">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate"><span>Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</span></div>
                                                <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                                            </div>
                                        </a><a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a></div>
                                </div>
                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown"></div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small" id="display-name">{{name}}</span></a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in"
                                        role="menu"><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a>
                                        <a
                                            class="dropdown-item" role="presentation" href="#"><i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Activity log</a>
                                            <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
<!-- Main Starts -->
                <div class="container-fluid">
                    {% if name == 'Host' %}

                    <div id="host-password">
                        <div id="host">
                            <div class="form-group">
                              <label for="exampleInputEmail1">Password</label>
                              <input type="password" class="form-control" id="password">
                              <small style="color:red;" id="error-msg"></small>
                            </div>
                            <button class="btn btn-primary" onclick="sendPassword()">Submit</button>
                        </div>
                    </div>

                    <div id="host-start" style = "display: none;">
                        <center>
                                <div class="form-group row">
                                  <label for="url" class="col-sm-2 col-form-label mb-2">Invite URL</label>
                                  <div class="col-md-8 col-sm-10">
                                    <input type="text" class="form-control mb-2" id="url" value="">
                                  </div>
                                  <div class="mx-auto"><button type="submit" class="btn btn-primary ml-auto mb-2" id="copy-button" onclick="copy()">Copy</button></div>
                                </div>
                            <h1>Users Joined</h1>
                            <h2 id="users"></h2>
                            <button type="submit" class="btn btn-primary" onclick="startgame()">Start</button>
                        </center>
                    </div>

                    <div id="host-game" style = "display: none;">
                        <center><h1>Just Google It Buzzer Host</h1></center>
                    
                        <center><input id="chat-input" type="hidden" value=""><button onclick="reset()" id="reset-button"><img width="100" height="100" src="{{url_for('static', filename='img/enabutton.png') }}" id="reset-img"></button></center>
                    </div>
                    <div id="buzzorder" style = "display: none;">
                        <center><h1>Buzz Order</h1></center>
                        <center><h2 id="chat"></h2></center>
                    </div>

                    {% elif name == 'join'%}
    
                    <div id="user-start">
                        <div id="start">
                            <div class="form-group">
                              <label for="exampleInputEmail1">Name</label>
                              <input type="text" class="form-control" id="username">
                            </div>
                            <button id = "mybutton"  onclick = "sendUsername()"  btn btn-primary">Submit</button>
                        </div>
                    </div>
            
                    {% elif name == 'user'%}
                   
                    <div id="user-game">
                        <center><h1 id="user-game-name">Player {{member}}</h1></center>
                        <center><input id="chat-input" type = "hidden" value="{{member}}"><button onclick="sendMessage()" id="buzzer-button" disabled><img width="100" height="100" src="{{ url_for('static', filename='img/disbutton.png') }}" id="buzzer-img"></button></center>
                    </div>
                    <div id="buzzorder">
                        <center><h1>Buzz Order</h1></center>
                        <center><h2 id="chat"></h2></center>
                    </div>
        
                    {%endif%}
                  
                    
                    {% if name == 'Host' %}
                    <br>
                    <div class="card-body" style="display: none;">
                        <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                            <table class="table my-0" id="dataTable">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Score</th>
                                    <th>Add Score</th>
                                    <th>Total Score</th>
                                </tr></thead>
                                
                            </table>
                        </div>
                    </div>

                    {% endif %}

                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © CKR 2020</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>

<!-- Scripts -->
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/chart.min.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script>
        socket = io()
        function test()
        {
            document.getElementById('mybutton').onclick = function() {
                location.href = "member";
            };
        }
        function sendPassword () {
            socket.emit("password",document.getElementById("password").value)
        }
        function copy () {
            var copyText = document.getElementById("url");
            copyText.select();
            copyText.setSelectionRange(0, 99999)
            document.execCommand("copy");
            var copybutton = document.getElementById("copy-button");
            copybutton.innerHTML = "Copied to clipboard"
        }
        function sendUsername () {
            socket.emit("username",document.getElementById("username").value)
             
        }
        
        
        function startgame () {
            socket.emit("startgame",document.getElementById("users").innerHTML)
            var hoststart = document.querySelector('#host-start')
            hoststart.style.display = "none"
            var hoststart = document.querySelector('#host-game')
            hoststart.style.display = "block"
            var buzzorder = document.querySelector('#buzzorder')
            buzzorder.style.display = "block"
            var scoretable = document.querySelector('.card-body')
            scoretable.style.display = "block"
            var button = document.querySelector('#buzzer-button')
            button.disabled = false
            alert(button.disabled)
            var img = document.querySelector('#buzzer-img')
            img.src = '{{ url_for('static', filename='img/enabutton.png') }}'
            

        }
        function sendMessage () {
            socket.emit("message",document.getElementById("chat-input").value)
            var button = document.querySelector('#buzzer-button')
            button.disabled = true
            var img = document.querySelector('#buzzer-img')
            img.src = '{{ url_for('static', filename='img/disbutton.png') }}'
            
        }
        function reset () {
            socket.emit("reset",document.getElementById("chat-input").value)
        }
        
        socket.on("new_password",(data)=>{
            if(data!="Invalid credentals"){
                var hostpassword = document.querySelector('#host-password')
                hostpassword.style.display = "none"
                var hoststart = document.querySelector('#host-start')
                hoststart.style.display = "block"
                var url = document.querySelector('#url')
                url.value = "https://jgibuzzer.herokuapp.com/join/"+data
                document.getElementById("users").innerHTML=""
            }
            else{
                var errormsg = document.querySelector('#error-msg')
                errormsg.innerHTML = data
            }
        })
        socket.on("new_username",(member_id)=>{
                start.onclick = location.href = "member/"+member_id
                
        })

        socket.on("append_user",(data)=>{
            
        
            document.getElementById("users").innerHTML+=data+"<br>"
                var table = document.querySelector('#dataTable')
                var total_score =0
                table.innerHTML+= '<tr><td>'+data+'</td><td><input type="range" name="ageInputName" id="ageInputId'+data+'" value="0" min="0" max="100" step="10" oninput="ageOutputId'+data+'.value = ageInputId'+data+'.value"> <output name="ageOutputName" id="ageOutputId'+data+'">0</output></td><td><input type = "button" id = "'+data+'" value = "+" onclick="getValue(this.id)"/></td><td id ="score_data'+data+'" value = "0">0</td></tr>'

        })

        socket.on("new_game",(data)=>{
            var buzzorder = document.querySelector('#buzzorder')
            buzzorder.style.display = "block"  
            var button = document.querySelector('#buzzer-button')
            button.disabled = false
            var img = document.querySelector('#buzzer-img')
            img.src = '{{ url_for('static', filename='img/enabutton.png') }}'
        
        })
        socket.on("new_message",(data)=>{
            document.getElementById("chat").innerHTML+=data+"<br>"
        })
        socket.on("new_reset",(data)=>{
            document.getElementById("chat").innerHTML = ""
            var button = document.querySelector('#buzzer-button')
            button.disabled = false
            var img = document.querySelector('#buzzer-img')
            img.src = '{{ url_for('static', filename='img/enabutton.png') }}'
        })
        function getValue(data)
        {
            var score = parseInt(document.getElementById("ageOutputId"+data).value)
            document.getElementById("ageOutputId"+data).value = score
            document.getElementById("score_data"+data).innerText=parseInt(document.getElementById("score_data"+data).innerText)+score
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{{url_for('static', filename='js/script.min.js')}}"></script>
</body>
</html>

<!--
    function sendMessage () {
            var button = document.querySelector('#{{name}}')
            button.disabled = true
            var img = document.querySelector('#img-{{name}}')
            img.src = '{{ url_for('static', filename='img/disbutton.png') }}'
            socket.emit("message",document.getElementById("chat-input").value)
        }
        socket.on("new_message",(data)=>{
            if(data == ""){
                document.getElementById("chat").innerHTML="";
                var button = document.querySelector('.button')
                button.disabled = false
                var img = document.querySelector('.img')
                img.src = '{{ url_for('static', filename='img/enabutton.png') }}';
            }
            else{
                document.getElementById("chat").innerHTML+="<br>"+data;
            }
        })
-->